<h1>
    Enter data</h1>

<form action="" method="post">
    <input type="text" name="name" placeholder="Enter name"><br><br>
    <input type="text" name="source" placeholder="Enter source"><br><br>
    <input type="text" name="destination" placeholder="Enter destination"><br><br>
    <input type="submit" value="Submit">


</form>