<style>
    h1 {
        text-align: center;
        justify-content: center;
    }
    
    div {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 20px;
    }
    
    div a {
        text-decoration: none;
        text-align: center;
        /* background-color: orange; */
        color: rgb(213, 29, 29);
        /* padding: 35px; */
    }
    
    .insert {
        background-color: orange;
        color: rgb(216, 69, 69);
        border: 2px solid black;
    }
    
    .display {
        background-color: red;
        color: rgb(217, 57, 57);
        border: 2px solid black;
    }
</style>
<h1>User</h1>


<div>
    <a href="/insert">Insert</a>
    <a href="/display2">Display</a>
</div>